extends layout

block content
    if item
        h1 Изменение данных о товаре:
    else 
        h1 Создание товара: 
    form.form-pass(method='POST' action='' enctype="multipart/form-data" data-pass='false')
        div.form-group
            label(for='title') Название:
            input#title.form-control(type='text', placeholder='Название товара' name='title' required='true' value=(undefined===item ? '' : item.title) )
        div.form-group
            label(for='category') Категория:
            select#category.form-control(type='select', placeholder='Выберите категорию' name='category' required='true' )
                - categories.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                for category in categories
                    if item
                        option(value=category._id selected=(category.checked)) #{category.title}
                    else
                        option(value=category._id) #{category.title}
        div.form-group
            label(for='description') Описание:
            textarea#description.form-control(type='textarea', placeholder='Описание товара' name='description' required='true') #{undefined===item ? '' : item.description}
        div.form-group
            label(for='price') Цена:
            input#price.form-control(type='number', name='price' required='true' value=(undefined===item ? '' : item.price))
        
        if item && item.image 
            div.item-form__checkbox-box
                input(class="item-form__checkbox" type="checkbox" name="delete_image")
                span удалить изображение

        div.item-form__switch
            if item 
                p Изменить изображение товара?
            else 
                p Добавить изображение товара?
            label.switch 
                input(type="checkbox")
                span.slider.round
        div(class=`form-group form-image hide`)
            label(for="image")
            input#image.form-control(type="file" name="image")
        button.btn.btn-primary(type='submit')
            if item 
                | Изменить
            else 
                | Создать
    script
        include ../public/javascripts/switch.js
        include ../public/javascripts/passcheck.js
